.atendido {
    font-weight: 500;
    background-color: rgb(232, 245, 232);
    color: green !important;
}

.desativado {
    color: grey !important;
    font-weight: 200;
    text-decoration: line-through;
    background-color: rgb(253, 250, 250);
}

h5 {
    margin-top: 400px;
}